body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #f4f4f4;

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.displayed-block, .hidden-block {
    background: #fff;
    padding: 20px;
    border: 1px solid #2b1e9c;
    box-shadow: 0 0 0 8px hsl(240, 26%, 87%); 
    width: 300px;
    
}
.displayed-block{
    display: block;
    transition: 1s linear opacity;
}
.hidden-block{
    display: none;
}

.username-label, .password-label, .email-label {
    margin-left: 24px;
}
.input-text {
    display: block; 
    margin: 5px auto; 
}
.password-container {
    display: flex;
    align-items: center;
}

.show-password {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 77px;
}

.input-text {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
#errorAlready{
    display:none;
    color:red;
    font-weight: bold;
}

.login-button{
    background-color: #3498db;
    color: white;
}

.input-button {
    display: block;
    margin: auto;
    width: 40%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: bold;
}
#login-button, #signin-button{
    background-color: #3498db;
    color: white; 
}
#register-page-button,#login-page-button {
    background-color: #b5d5eb; 
    color: #1400c9;

} 

/* Liav CSS for Issues Board */

/* Issues Board */

.issues_list {
    display: none;
    overflow-x: auto; /* Enable horizontal scrolling */
}

.board {
    display: flex;
    padding: 20px;
}

.column {
    background-color: #f0f0f0; /* Light gray background */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 15px;
    width: 250px; /* Fixed width */
    height: 400px; /* Fixed height */
    margin-right: 20px; /* Add some margin between columns */
    position: relative; /* Needed for absolute positioning of label */
}

.column h2 {
    position: absolute;
    top: -15px;
    left: 0;
    width: auto; /* Adjust width to content */
    padding: 5px 10px;
    text-align: center;
    border-radius: 20px; /* Bubble shape */
    font-size: 16px;
    color: white;
}

.issue {
    margin-top: 25px;
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.issue:hover {
    background-color: #e0e0e0;
}

.issue-container {
    position: relative;
}

.trash-mark {
    font-size: 20px; 
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2px;
    color: red; 
    cursor: pointer;
}

.trash-mark:hover {
    background-color: #e45555; 
    color: #ffffff; 
}

.add-issue-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.logout-btn {
    background-color: #f44336; 
    color: white;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    margin-top: 20px;
}

.logout-container {
    display: none;
    position: absolute;
    bottom: 20px;
    text-align: center;
}

.logout-btn:hover {
    background-color: #df7b7b; 
    cursor: pointer; 
}

/* Colors for different labels */
.todo h2 {
    /* Existing styles */
    border-top: 3px solid #1f7ad6;
    color: #1f7ad6;
    border-top-left-radius: 10px; /* Adjust border-radius to fit the ellipse shape */
    border-top-right-radius: 10px;
}

.in_process h2 {
    /* Existing styles */
    border-top: 3px solid #6f42c1;
    color: #6f42c1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.review h2 {
    /* Existing styles */
    border-top: 3px solid #fbc02d;
    color: #fbc02d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bug h2 {
    /* Existing styles */
    border-top: 3px solid #d32f2f;
    color: #d32f2f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.done h2 {
    /* Existing styles */
    border-top: 3px solid #388e3c;
    color: #388e3c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*
Sliding Window
*/

.sliding-window {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: #f4f4f4;
    overflow-x: hidden;
    transition: width 0.5s ease; ;
    z-index: 1000; /* Ensure it appears above other content */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow effect */
    transform: translateX(100%); /* Slide out to the right */
}

.sliding-window-content {
    padding-top: 30px; /* Add space for close button */
}

.close-btn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #aaa;
}

.close-btn:hover {
    color: #000;
}

.dragging {
    opacity: 0.5;
}

/*
New Issue Form
*/

.new-issue-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
}

.new-issue-error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
